			</section>
		
			<footer class="footer span-12">
				<h5>{{widget('content', 'footer', {content: 'Copyright. 2014', lines: 'all'})|raw}}</h5>
			</footer>
		</div>
	</div>
	{% include basekit.bodyScript %}
</body>
</html>