{% include "header.twig" %}

<article class="article gallery-featured">
	<div id="featuregallery">
		{{widget('gallery', 'featuregallery', {})|raw}}
	</div>
</article>

<article class="article gallery-page">
	{{zone('main')|raw}}
</article>

{% include "footer.twig" %}